{% extends 'base.html' %}
{% block content %}
<body>
    <h1>Contact Us</h1>
    <form>
        <fieldset>
         <legend>Write to us</legend>
         <label for="fname">First name:</label>
         <input type="text" id="fname" name="fname" placeholder="First name"><br><br>
         <label for="lname">Last name:</label>
         <input type="text" id="lname" name="lname" placeholder="Last name"><br><br>
         <label for="email">Email:</label>
         <input type="email" id="email" name="email" placeholder="Email Id"><br><br>
         <label for="message">Message:</label>
         <textarea id="message" name="message" rows="4" cols="50" placeholder="Write your message here"></textarea><br><br>
         <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
{% endblock %}