<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Register Page</h1>
    <fieldset>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{EDFO.as_p}}
            <input type="submit" value="Register">
        </form>
    </fieldset>
</body>
</html>