<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            {% if form.instance.pk %}
                <button type="submit">Update</button>
            {% else %}
                <button type="submit">Register</button>
            {% endif %}
        </form>
    </center>
</body>
</html>